[access]
	inheritFrom = All-Projects
[project]
	description = pirma pradzia
[access "refs/*"]
	owner = group user/TomasJundulas
[access "refs/for/refs/*"]
	read = group user/TomasJundulas
	push = group user/TomasJundulas
	label-Code-Review = -2..+2 group user/TomasJundulas
	label-Verified = -1..+1 group user/TomasJundulas
	rebase = group user/TomasJundulas
	removeReviewer = group user/TomasJundulas
	submit = group user/TomasJundulas
[access "refs/heads/*"]
	read = group user/TomasJundulas
	create = group user/TomasJundulas
	push = +force group user/TomasJundulas
	pushMerge = group user/TomasJundulas
[access "refs/tags/*"]
	push = group user/TomasJundulas
	push = +force group user/TomasJundulas
